<nav class="navbar navbar-default">
    <div class="nav navbar-header">   
      {{#link-to "accueil" class="navbar-brand"}}
      {{!-- <img src="assets/images/logo.png" width="50" height="mr-auto"> --}}
      FESTIVALJS
      {{/link-to}}   
    </div>

    {{#if auth.isAuthenticated}}
    <ul class="nav navbar-nav">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Festival
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {{#link-to "festivals.create" class="dropdown-item"}}Créer un festival{{/link-to}}
          {{#link-to "festivals" class="dropdown-item"}}Voir tous les festivals{{/link-to}}
        </div>
      </li>


{{!--       <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div> --}}

      <li>
      	{{#link-to "festivals" class="navbar-brand"}}Festivals{{/link-to}}
      	{{#link-to "artistes" class="navbar-brand"}}Artistes{{/link-to}}
      	{{#link-to "genres" class="navbar-brand" }}Genres Musicaux{{/link-to}}
      	{{#link-to "profil" class="navbar-brand"}}Profil{{/link-to}} 	
      	{{#link-to "villes" class="navbar-brand"}}Villes{{/link-to}}
      	{{#link-to "pays" class="navbar-brand"}}Pays{{/link-to}}
      	
      </li>
    </ul>
    {{/if}}

    <ul class="nav navbar-nav navbar-right">  
      <li>

      {{#if auth.isAuthenticated}}
          <button class="btn btn-danger log" {{action 'logout'}}>Log out</button>
      {{else}}
          <button class="btn btn-info log" {{action 'login'}}>Log In</button>
      {{/if}}
      
      </li>
    </ul>
</nav>

{{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  {{#link-to "accueil" class="navbar-brand"}}<img src="assets/images/logo.png" width="70" height="60">{{/link-to}}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  {{#if auth.isAuthenticated}}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav"></div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        {{#link-to "festivals" class="navbar-link"}}Festivals{{/link-to}}
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        {{#link-to "artistes" class="navbar-link"}}Artistes{{/link-to}}
        <a class="nav-link" href="#">Link</a>
      </li>
      <li>
      {{#link-to "festivaliers" class="navbar-link"}}Mon profil{{/link-to}} 
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">  
      <li>

      {{#if auth.isAuthenticated}}
          <button class="btn btn-danger log" {{action 'logout'}}>Log out</button>
      {{else}}
          <button class="btn btn-info log" {{action 'login'}}>Log In</button>
      {{/if}}
      
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  {{/if}}
</nav> --}}