<div class="panel panel-default">
  <div class="panel-heading">{{festival.nom}}</div>
  <div class="panel-body">
  	<img src="{{festival.image}}">
    {{festival.dateDebut}}
    {{festival.dateFin}}
    {{festival.idVille}}
    {{festival.nbFestivaliers}}
  </div>
</div>
