<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
			<form>

				<div class="form-group row ">
					<div class="col-md-6">
						<label for="inputNom">Nom</label>
						<input type="text" class="form-control" id="inputNom" value="{{model.nom}}">
					</div>
				</div>



				<div class="form-group row">
					<div class="col-md-6">
						<label for="inputDateDebut">Date début</label>
						<input type="text" class="form-control" id="inputDateDebut" value="{{model.dateDebut}}">
					</div>
				</div>

				<div class="form-group row">
					<div class="col-md-6">
						<label for="inputDateFin">Date fin</label>
						<input type="text" class="form-control" id="inputDateFin" value="{{model.dateFin}}">
					</div>
				</div>

				<div class="form-group row">
					<div class="col-md-6">
						<label for="inputDateFin">Image (URL)</label>
						<input type="text" class="form-control" id="inputImage" value="{{model.image}}">
					</div>
				</div>

				<div class="form-group row">
					<div class="col-md-4">
						<label for="inputNbParticipant">Nombre de participants</label>
						<input type="text" id="inputNbParticipant" class="form-control" value="{{model.nbParticipant}}">
					</div>

					<div class="col-md-4">				
						<label for="inputVille">Ville</label>
						<select id="Ville" class="form-control">
							<option selected>Choose...</option>
							<option>...</option>
						</select>
					</div>
				</div>
				<button type="submit" class="btn btn-primary" {{action 'createFestival'}}>Enregistrer</button>
			</form>
		</div>
	</div>
</div>