{{app-nav}}

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">{{model.nom}}</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3 col-lg-3 " align="center"> 
							<img alt="Image festival" src="{{model.image}}" class="img-circle img-responsive">
						</div>


						<div class=" col-md-9 col-lg-9 "> 
							<table class="table table-user-information">
								<tbody>
									<tr>
										<td>Date début :</td>
										<td>{{model.dateDebut}}</td>
									</tr>
									<tr>
										<td>Date fin :</td>
										<td>{{model.dateFin}}</td>
									</tr>
									<tr>
										<td>Ville :</td>
										<td>{{model.ville}}</td>
									</tr>                                 
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<span class="pull-right">
					{{#link-to 'festivals.details.edit'}}
						<button class="btn btn-sm btn-warning">
							<i class="glyphicon glyphicon-edit"></i>
						</button>
					{{/link-to}}
						{{model.id}}
						<button class="btn btn-sm btn-danger" {{action "deleteFestival" model.id on="click"}}>
							<i class="glyphicon glyphicon-remove"></i>
						</button>
						
					</span>
				</div>

			</div>
		</div>
	</div>
</div>

{{outlet}}
